<h1>Home</h1>

<p>lorem ipsum</p>

<!--<div class="form" ng-controller="MyController as ctrl">

   <form name="myForm" ng-submit="ctrl.submitData()">
      <input type="text" ng-model="ctrl.user.name"/>
      <input type="text" ng-model="ctrl.user.email"/>
      <button type="submit">Enviar</button>
   </form>

</div>-->

<!--
<div class="container" ng-controller="MyController">
   <section>
      Hola, soy {{name}}
   </section>
   <aside ng-controller="DianaController">
      mi apellido es {{lastName}}
   </aside>

</div>-->
